

header {
  background: #003057 ;padding-left: 1em;

} 
header button, button#dark:active{
  background-color: #1e1e1e;
  color: white;
}
button#dark:hover{
  color: #43d1f5;
}
h2{
  padding-bottom: 1.5em;
}
hr{
  height:1px;
  border:none;
  color:#333;
  background-color:#333;
}

.ui-autocomplete {
  height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
background-color: #DDD;
}
.ui-helper-hidden-accessible {
display: none;
}
.error {
  background: #FFCDD2  98% center;
  box-shadow: 0 0 5px #FF5252;
  border-color: #FF1744;    
}